<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.bigevent.mapper.MaterialAreaMapper">
    <!--    动态sql-->
    <select id="list" resultType="org.example.bigevent.pojo.AreaPrice">
        select distinct area from area_price
        <where>
            <if test="year!=null">
                year=#{year}
            </if>

            <if test="name!=null">
                and name=#{name}
            </if>


        </where>
    </select>
</mapper>